name: Build Dev

on:
  push:
    branches: ["dev"]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: Build & Push Docker Image
        run: |
          IMAGE=ghcr.io/${{ github.repository_owner,, }}/my-app:${{ github.sha }}
          docker build -t $IMAGE .
          docker push $IMAGE
